//Created by kimilsik on 7/18/17.
doctype html
html
    head
        title kim il sik
        meta(charset="utf-8")
    body
        h1
            a(href="/main") HTML
        ol
            li
            butto
                a(href="/main/1") test1
            li
                a(href="/main/2") test2
            li
                a(href="/main/3") test3
            li
                a(href="/main/4") test4
        if dat
            p
                h1= dat.title
                =dat.description