//Created by kimilsik on 7/18/17.
doctype html
html
    head
        meta(charset="utf-8")
        title testing html!

    body
        h1= "hello, my name is"
        h2 #[strong hello!]
        h2 hello!
        // p 앞에 점 찍는 건 이게 모두 보여주는 것이다 라는 의미인 듯.
        p.
            This is a very long and boring paragraph that spans multiple lines.
            Suddenly there is a #[strong strongly worded phrase] that cannot be
            #[em ignored].
        // a 는 anchor 의 약자.
        a(href="https://ko.wikipedia.org/wiki/도널드_커누스", target="_blank", title="legendary programmer") donald knuth
        // ul : unordered list
        ul hi man
            li bab
            li bab2
            li bab3
            li bab4
        // ordered list
        ol
            li babcrazy
            li babalala
            li bab sdfjsdf
            li babkj fds

