//Created by kimilsik on 7/11/17.
doctype html
html
    head
    body
        h1 Welcome
        p
            a(href="/shoppingcart/login") LOGIN
        p
            a(href="/shoppingcart/register") REGISTER