//
   Created by kimilsik on 6/14/17.
doctype html
html
    head
        meta(charset='utf-8')
    body
        h1
            a(href='/topic') Server side javascript
        ul
            each t in topics
                li
                    // shift + tab -> 후진
                    // @rid 는 여러 문제가 생길수도. 배열의 데이터를 얻는 것처럼.


                    // # 은 url에 넣으면 문제가 생김
                    // rid 는 javascript 코드 상에서의 변수이지만
                    // 그대로 pug에서 쓰일 수 있다.
                    //    굉장히 신기한 것들..
                    - rid = encodeURIComponent(t['@rid']);
                    //a(href='/topic/'+topic['@rid'])=topic.title
                    a(href='/topic/' + rid)=t.title
                    //a(href='/topic/'+topic)= topic
        article
            h1= 'Delete ' + top.title + ' ?'
            - rid = encodeURIComponent(top['@rid']);
            form(action='/topic/'+ rid +'/delete', method='post')
                // delete or update는 post로 하는 게 좋다
                p
                    input(type='submit' value='yes')
                //p
                //    input(type='submit' value='no')
                    // no일 때도 post로 할 수는 없을까?? value를 구별하는 법?
            a(href='/topic/' + rid) no