//Created by kimilsik on 7/25/17.
//
// lesson 8 - browser object model
//
// window 객체
// dom -> document...
// bom -> navigator, screen, location, frames, history, XMLHttpRequest ...
// javascript -> object, array, function...
// 이 dom, bom, javascript는 window객체에 속해 있다.
//
// window -> 모든 객체가 속해있음. 전역객체
// window.document, window.navigator. window.Array, ...
//
// alert('hello world') 는 window.alert('hello world') 와 같다.
// -> 모두 window라는 객체의 메소드.
// 어떤 객체 a를 선언해도 자동으로 window라는 객체의 property로 들어간다.
//
// -------------------------------------------------------
// location -> 윈도우의 url 알아내기
// -> 보이지 않는 정보도 객체화 될 수 있다.
//
// location.href = "http://egoing.net" -> 그 값에 해당되는 url로 문서를 이동시킴.
// ==> 사용자를 redirection 시켜야할 때 이를 이용한다.
// location = "http:// ... " -> 위와 비슷하지만 위의것이 더 명시적.
// location.reload() -> 웹페이지가 리로드됨. -> 어떤 정보가 갱신되었을 경우 자동 리로드 하게끔.
//
// navigator 객체 -> 브라우저의 정보 제공. 호환성 문제 등.
// 브라우저마다 다른 결과를 만들어낼 수 있다. -> 브라우저의 특성에 맞게 코딩해야 한다.
// -> crossbrowsing issue.
// console.dir(navigator) -> navigator를 펼침으로 볼 수 있다.
// console.log(navigator.appVersion) -> 웹브라우저의 정보 얻어옴.
//
// userAgent -> 브라우저가 서버에 네트웍으로 접속할 때 서버쪽으로 알려주는 유저 정보.
// navigator.platform -> os information
//
// -------------------------------------------------------
// window.open('demo2.html') -> demo2.html을 연다.
// window.open('demo2.html', '_blank') -> 새 창을 연다. _self 는 스크립트가 실행되는 창을 의미(?)
// window.open('demo2.html', 'ot') -> 이미 같은 창이 열렸다면 그 창으로 포커스가 맞춰진다
// window.open('demo2.html', '_blank', 'width=200, height=200, resizable=yes') -> 새 창을 띄운다.
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//



doctype html
html
    head
        meta(charset="utf-8")
    body
        input(type="button" value="alert" onClick="func_prompt();")
        // alertfunc -> 1, 2, 3은 순서대로 동작이 멈춘다.
        script.
            console.log(location.toString(), location.href);
            // location객체를 이용, 현재 url을 읽어온다.
            // http://localhost:3004/jwb/20170725/1 http://localhost:3004/jwb/20170725/1
            // -> 첫번째는 string, 두번째는 href 프로퍼티에 접근해서 읽어옴.
            // console.log(location) vs alert(location)
            // alert는 들어오는 인자가 문자열이어야 -> 자동으로 toString이 호출된다.
            // location.href가 더 많이 쓰인다.
            console.log(location.protocol) // http or https ...
            console.log(location.host) // opentutorials.org ...
            console.log(location.port) // 3004, ....
            console.log(location.pathname) // /module/123/1234 .... -> 구체적인 정보.
            console.log(location.search) // ?id=10, ...
            console.log(location.hash) // #bookmark -> 문서의 특정 위치에 북마크를 할 수 있다.

            //window.onload = function () {
            var alertfunc = function () {
                alert('1');
                alert('2');
                alert('3');
            };
            var func_confirm = function() {
                if (confirm('ok?'))
                    alert('ok');
                else
                    alert('cancel');
            };
            var func_prompt = function() {
                if (prompt('id?') === 'kim')
                    alert('welcome');
                else
                    alert('fail');
            }
            //};

