//Created by kimilsik on 7/11/17.
doctype html
html
    head
    body
        form(action='/shoppingcart/table/add', method='post')
            p
                input(type='text' name='title' placeholder='title')
            p
                textarea(name='description' placeholder='description')
            p
                input(type='submit')



