//Created by kimilsik on 7/12/17.
doctype html
html
    head
    body
        style
            include teststyle.css
        h1= message
        | GO BACK!
        // 여기서의 href는 지금까지의 주소에 더하는것?
        //a(href='table/main') GO BACK!
