//Created by kimilsik on 7/11/17.
doctype html
html
    head
    body
        h1= 'Hey, ' + displayName + '!'
        = 'No Contents!'
        p
            a(href='/shoppingcart/table/add') WRITE
        p
            a(href='/shoppingcart/logout') LOGOUT
