<a href="#!/books" class="btn btn-link">Go Back</a>
<div class="panel panel-default" ng-init="addBook()">
    <div class="panel-heading">
        <h3 class="panel-title">Add Book</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="addBook()">
                    <div class="form-group">
                        <label for="title">title</label>
                        <input type="text" class="form-control" ng-model="book.title" placeholder="Title">
                    </div>

                    <div class="form-group">
                        <label for="genre">genre</label>
                        <select ng-model="book.genre" class="form-control">
                            <option value="suspense">suspense</option>
                            <option value="drama">drama</option>
                            <option value="nonfiction">nonfiction</option>
                            <option value="others">others</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="author">author</label>
                        <input type="text" class="form-control" ng-model="book.author" placeholder="author">
                    </div>

                    <div class="form-group">
                        <label>publisher</label>
                        <input type="text" class="form-control" ng-model="book.publisher" placeholder="publisher">
                    </div>
                    <div class="form-group">
                        <label>pages</label>
                        <input type="text" class="form-control" ng-model="book.pages" placeholder="pages">
                    </div>
                    <div class="form-group">
                        <label>description</label>
                        <input type="text" class="form-control" ng-model="book.description" placeholder="description">
                    </div>
                    <div class="form-group">
                        <label>image_url</label>
                        <input type="text" class="form-control" ng-model="book.image_url" placeholder="image_url">
                    </div>
                    <div class="form-group">
                        <label>buy_url</label>
                        <input type="text" class="form-control" ng-model="book.buy_url" placeholder="buy_url">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>