//Created by kimilsik on 7/14/17.
doctype html
html
    head
    body
        p
            a(href="/shoppingcart/") SHOPPINGCART PROJECT
        p
            a(href="/raspberrypi/") RASPBERRYPI PROJECT



