//
   Created by kimilsik on 6/6/17.
    // 문법 자체는 programmable..
html
    head
        title= _title
    body
        h1 hello jade
        ul
            -for(var i = 0; i < 5; ++i)
                li coding
        div= time